.b1:hover {
border-color: white;
background-color: rgb(255, 142, 151);
}

.div_label{
	border-radius:5px;
	background-color: pink;
	margin: auto;
	height: 250px;
	float: left;
}

.people_label{
	border-radius:5px;
	border:1px;
	width: 80%;
	height: 30px;
	padding: 5px;
	background-color: rgb(244, 244, 244);
	margin: 5px auto;
	text-align: left;
}

.insert_health_record_btn{
	border : solid 2px #ffffff;
	border-radius : 3px;
	moz-border-radius : 3px;
	font-size : 16px;
	color : #ffffff;
	padding : 3px 17px;
	background-color :#FF80C4;
	margin-top: 8px;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid white;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#ffaa56; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffaa; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid white;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,ffffff);

	background-color:#ffffff;
	border:0px solid gray;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:13px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");	background: -o-linear-gradient(top,#ffffff,ffffff);

	background-color:#ffffff;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.scrollit{
	overflow:scroll;
}

.div_icon{
margin:10px;
width:6%;
border-radius:100%;
background-color: rgb(253, 199, 83);
float:left; 
}

.div_icon:hover {
background-color: rgb(255, 245, 223);
}

.delete_btn{
}

.icon_img{
width:30px;
height:30px;
}

.vaccine_data_label{
border: 0;
background: rgb(255, 249, 230);
border-radius: 50px;
width: 100%;
height: 40px;
padding-left: 20px;
}

.vaccine_context{
background: snow;
border-radius: 100px;
padding: 20px;
margin: 1%;
padding-left: 40px;
border-style: dashed;
border-color: lightpink;
}
